<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">    
    <title>RasPi Directory Syncer</title>
    <!-- Enter a brief description of your page -->
    <meta name="description" content="RasPi Directory Syncer">
    <!-- Include the site stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">    
</head>
<body>

    <!-- The page header typically contains items such as your site heading, logo and possibly the main site navigation -->
    <!-- ARIA: the landmark role "banner" is set as it is the prime heading or internal title of the page --> 
    <header role="banner">
        <h1>RasPi Directory Syncer</h1>
    </header>
    
    <!-- If you want to use an element as a wrapper, i.e. for styling only, then <div> is still the element to use -->
    <div class="wrap">
        <main role="main">    
            <section>
                <h3>Last sync run</h3>
                <pre id="rsync_log_box" class="log_box"></pre>                    
            </section>
            <section>
                <h3>Actions</h3>
				<p>
				<button id="start-bg-job">Start another sync run</button>
				</p>                   
            </section>            
        </main>
    </div>
    
    <footer>
        <small>Copyright &copy; <time datetime="2015">{{timestamp}}</time></small>        
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        function start_long_task() {
            // add task status elements

            // send ajax POST request to start background job
            $.ajax({
                type: 'POST',
                url: '/longtask',
                success: function(data, status, request) {
                    status_url = request.getResponseHeader('Location');
                    update_progress(status_url);
                },
                error: function() {
                    alert('Unexpected error');
                }
            });
        }
        function update_progress(status_url) {
            // send GET request to status URL
            $.getJSON(status_url, function(data) {
                // create a couple of elements in an otherwise empty HTML page
		        var line_text = document.createTextNode("Big Head!!"+"\n");
		        var rsync_log_box = document.getElementById("rsync_log_box");
		        rsync_log_box.appendChild(line_text);
	         
                // rerun in 2 seconds
                setTimeout(function() {
                    update_progress(status_url);
                }, 2000);
                
            });
        }
        document.querySelector('button').onclick = function() {
            //$('#start-bg-job').click(start_long_task);
            start_long_task()
        };
    </script>
    
</body>
</html>
